$color-fondo:  #eed9ad ;
section{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div{
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 90px #00000080;
    background-image: url('../../../../../assets/fondo3.jpg');
    // background-color: #f0db9b;

// background: #fceabb;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
// background: $color-fondo; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: whitesmoke;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.659);
    // animation: moveInRigth 2s ease-out;
  }
  .texto1{
    text-align: center;
    font-family: 'Bad Script', sans-serif;
    font-size: 2.9rem;
  }
  .texto2{
    font-family: 'Bad Script', sans-serif;
    font-size: 3rem;
    text-align: center;
  }
  .texto3{
    font-family: 'Bad Script', sans-serif;
    font-size: 2rem;
  }
  span{
    font-size: 2.65rem;
  }
}

.div2{
  width: 100%;
  height: 45%;
  background-color: green;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  img{
    width: 100%;
    height: auto;
    z-index: 1;
  }
  .texto5{
    position: absolute;
    bottom: 4rem;
    z-index: 2;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: white;

  }
}
@keyframes moveInRigth {
  0%{
      opacity: 0;
      transform: translateX(100px);
  }
  80%{
    opacity: .5;
      transform: translateX(-10px);
  }
  100%{
      opacity: 1;
      transform: translate(0);
  }
}
@media (max-width: 768px) {
  .div2{
    .texto5{
      font-size: 1rem;
    }
  }
  section{
    div{
      .texto1{
        font-size: 2.3rem;
      }
    }
  }
  .texto2{
    font-size: 2.6rem !important;
    text-align: center;
  }
}

@media (max-width: 480px) {

  section{
    div{
      gap: 0;
    }
  }
}
