<section>
  <div >
<!--    <span class="texto1">Datos del invitado</span>-->
    <div  #boxText>
      <span class="texto2">{{this.nombre}}</span>
      <span class="texto1">{{this.boletos}}</span>
      <span class="texto3">Mesa: {{this.mesa}}</span>
      <span class="texto3">Cena: 21:30</span>
      <span class="texto3">Los esperamos</span>
      <!--<span class="texto3">Mesa: {{this.mesa}}</span>
      <span class="texto3"> &#x2764; Los esperamos &#x2764;</span>-->

    </div>
  </div>
</section>
