<section>
  <div class="img-container">
    <img src="assets/novios.jpg">
  </div>

  <div class="reloj" #cardsContainer>
<!--    <span class="nombre"><mark>Yaza</mark></span>-->
    <br>
    <span><mark>Queremos que lo importante sea el que nos acompañen a celebrar con ilusión, alegría y muchas ganas de disfrutar. Si desean hacernos un regalo, estaremos muy agradecidos si lo hacen en dinero en efectivo. Pueden colocarlo en un sobre y depositarlo en el tarjetero preparado para este fin, que se ubicará durante la recepción. Gracias. </mark></span>
  </div>
</section>
