section {
  background: rgb(255,235,205);
  background: linear-gradient(rgb(255 243 235) 36%, rgb(255, 255, 255) 100%);

  .text-container {
    padding: 2rem 10rem;
    p{
      font-family: 'Bad Script';
      text-align: center;
    }
  }

  .img-container {
    text-align: center;
    img {
      width: 250px;
    }
  }
}

@media (max-width: 480px) {
  section {
    .text-container {
      padding: 2rem;
    }
  }

}
