section {
  background: rgb(255,235,205);
  background: linear-gradient(rgb(255 243 235) 36%, rgb(255, 255, 255) 100%);

  .text-container {
    p{
      padding: 1rem;
      font-family: 'Bad Script', cursive;
      text-align: center;
    }
  }

  .img-container {
    text-align: center;
    img {
      width: 250px;
    }
  }
}
