$fondo-color:  #fcfbe8 ;
$btn-color:   #437764   ;
$btnhover-color:    #437764;
$color-titulo: rgb(67 119 100);
section{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  gap: 4rem;
  background-image: url("https://i.pinimg.com/564x/ba/e0/59/bae059b7e3d6e7de4eb350c09e7430c6.jpg");
  background-position: bottom;
  h2{
    text-align: center;
    color: $color-titulo;
    font-family: 'Parisienne', sans-serif;
    font-size: 2.95rem;
  }
}
.btnContainer{
  width: 80%;
  display: flex;
  gap:13px;
  flex-direction: column;
  justify-content: center;
    button{
      width: 100%;
      border: 5px;
      border-radius: 1rem;
      height: 2.45rem;
      font-size: x-large;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: white;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.529);
      background-color: $btn-color;
    }
    button:hover{
      background-color: $btnhover-color;
    }
}
@keyframes moveInLeft {
  0%{
      opacity: 0;
      transform: translateX(-100px);
  }
  80%{
      transform: translateX(10px);
  }
  100%{
      opacity: 1;
      transform: translate(0);
  }
}
@media (max-width: 768px) {
  section {
    text-align: center;
  }

}

@media (max-width: 480px) {
  section {
    padding-top: 0;
  }

}
