<div class="contenedor">
  <span class="holds-the-iframe">
    <iframe *ngIf="valor === 1; else otro" srcdoc="Loading..." onload="this.removeAttribute('srcdoc')" class="mapa-pop"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15047.89342697158!2d-99.1677608!3d19.4567155!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfd7fcbba5774dc98!2sParroquia%20de%20San%20Salvador%20de%20las%20Flores!5e0!3m2!1ses-419!2smx!4v1675813325766!5m2!1ses-419!2smx"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
   </iframe>
  </span>

  <span class="holds-the-iframe">
    <ng-template #otro>
      <iframe class="mapa-pop" srcdoc="Loading..." onload="this.removeAttribute('srcdoc')"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15046.377584598968!2d-99.1884992!3d19.4730468!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd61a17e1edbd60!2sCentenario%20Salones%20De%20Fiestas!5e0!3m2!1ses-419!2smx!4v1675813427669!5m2!1ses-419!2smx"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </ng-template>
  </span>
  <div><button (click)="cerrarModal()">Cerrar</button></div>
</div>
