$color-letra: #06392f;
section{
  width: 100%;
  height: 100vh;
  // background-color: green;
  position: relative;
  overflow: hidden;
  .img-container{
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .reloj{
    width: 80%;
    height: 60%;
    // background-color: blue;
    position: absolute;
    bottom: 14rem;
    top: 7rem;
    right:calc((100% - 70%) / 2 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // transform: translate(-50%, -50%);
    animation-name: moveInLeft;
    animation-duration: 3s;
    .xv{
      font-size: 7rem;
    }
    .detalle{
      font-size: 3rem;
    }
    span{
      font-size: 4rem;
      text-align: center;

       //text-shadow: 2px 2px rgba(0, 0, 0, 0.659);
      font-family: 'Parisienne', cursive;
       //font-family: 'Luckiest Guy', cursive;
      color: $color-letra;
    }
  }
}
@keyframes moveInLeft {
  0%{
      opacity: 0;
      transform: translateX(-100px);
  }
  80%{
      transform: translateX(10px);
  }
  100%{
      opacity: 1;
      transform: translate(0);
  }
}
@media (max-width: 768px) {
  section {
    .reloj{
      width: 80%;
      bottom: 0;
      height: 50%;
      right:calc((100% - 80%) / 2 );
      .xv{
        font-size: 6rem;
      }
      //.nombre{
      //  font-size: 1.3rem;
      //}
      span{
        font-size: 2rem;
      }
      .detalle{
        font-size: 1.9rem;
      }
    }

  }

}

@media (max-width: 480px) {
  section {
    .reloj{
      bottom: 2rem;
      .xv{
        text-align: center;
        font-size: 4rem;
        padding-top: 80px;
      }
    }

  }

}
