section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  gap: 3rem;
  background: linear-gradient(to right, #fdc738, #fceabb);
  h2{
    text-align: center;
    font-family: 'Laila', sans-serif;
    font-size: 2.95rem;
  }
  .bshadow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
}
