section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  background-color: rgba(56, 52, 52, 0.918);
  color: white;
  gap: 4rem;
  h2{
    text-align: center;
    font-family: 'Laila', sans-serif;
    font-size: 2.95rem;
    }
  h5, h3{
    font-family: 'Poppins', sans-serif;
  }
  .cancelar{
    width: 40%;
    border: 5px;
    border-radius: 1rem;
    height: 2.45rem;
    font-size: large;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.659);
    background-color: #cc210a
  }
  .confirmar{
    width: 40%;
    border: 5px;
    border-radius: 1rem;
    height: 2.45rem;
    font-size: large;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.659);
    background-color: #0bc42a
  }
  .cancelar:hover{
    background-color: #570f06;
  }
  .confirmar:hover{
    background-color: #055813;
  }
}
.btnContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  justify-content: center;
    button{
      width: 50%;
      border: 5px;
      border-radius: 1rem;
      height: 2.45rem;
      font-size: large;
      cursor: pointer;
      color: white;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.659);
      background-color: #f8b500
    }

    button:hover{
      color:  #f8b500;
      background-color: #fceabb;
      border: .2rem solid #f8b500;
    }
}

form{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  gap: .5rem;
  button{
    border: 5px;
    border-radius: .2rem;
    height: 2.45rem;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.659);
    font-size: large;
    background-color:  #f8b500;
  }
  button:hover{
    color:  #f8b500;
    background-color: #fceabb;
    border: .2rem solid  #f8b500;
  }
}
@media (max-width: 768px) {
  section {
    text-align: center;
    h5, h3{
      width: 80%;
    }
    .cancelar{
      height: 3.5rem;
    }
    .confirmar{
      height: 3.5rem;
    }
  }

}
