<section>
  <h2>Confirmar asistencia</h2>
  <h5>Favor de confirmar asistencia un mes antes del evento</h5>
  <div class="btnContainer">
    <button>Asistiré</button>
    <button>No Asistiré</button>
  </div>
  <form>
    <textarea name="texto" rows="4" cols="20" placeholder="Mensaje"></textarea>
    <button type="submit"> Enviar</button>
  </form>

</section>

<!-- cancelar -->
<!-- <section>
  <h2>Gracias por confirmar tu asistencia</h2>
    <h5>¿Surgió algún contratiempo? Puedes cancelar tu asistencia :c</h5>
    <button class="cancelar">Cancelar asistencia</button>
</section> -->

<!-- cambiar  -->
<!-- <section>
  <h2>Lastima que no puedas acompañarnos</h2>
    <h5>Recuerda que siempre puedes cambiar de opinion</h5>
    <button class="confirmar">Confirmar asistencia</button>
</section> -->
