<section>
  <h2>Mis personas</h2>

  <div class="personasContainer">
    <div class="persona">
      <div class="shadow">
        <div class="imgContenedor">
          <img src="assets/mama.jpg" class="mama">
        </div>
      </div>

      <span>Zoraida Butrón</span>
      <span class="clarito">Mamá</span>
    </div>
    <div class="persona">
      <div class="shadow">
        <div class="imgContenedor">
          <img src="assets/papa.jpg" class="papa">
        </div>
      </div>
      <span>Humberto Ruvalcaba</span>
      <span class="clarito">Papá</span>
    </div>
    <div class="persona">
      <div class="shadow">
        <div class="imgContenedor">
          <img src="assets/madrina.jpg" class="madrina">
        </div>
      </div>
      <span>Liz Cuenca</span>
      <span class="clarito">Madrina</span>
    </div>
  </div>
</section>
