<section>
  <h2>Mis personas</h2>

  <div class="personasContainer">
    <div class="persona">
      <div class="imgContenedor">
        <img src="assets/foto3.jpg">

      </div>
      <span>Rosa</span>
      <span class="clarito">jefecita</span>
    </div>
    <div class="persona">
      <div class="imgContenedor">
        <img src="assets/foto3.jpg">

      </div>
      <span>Rosa</span>
      <span class="clarito">jefecita</span>
    </div>
    <div class="persona">
      <div class="imgContenedor">
        <img src="assets/foto3.jpg">

      </div>
      <span>Rosa</span>
      <span class="clarito">jefecita</span>
    </div>
    <div class="persona">
      <div class="imgContenedor">
        <img src="assets/foto3.jpg">

      </div>
      <span>Rosa</span>
      <span class="clarito">jefecita</span>
    </div>
  </div>
</section>
