section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 3rem;
  gap: 4rem;
  margin-bottom: 3rem;
  // background-color: orangered;
  h2 {
    text-align: center;
    font-family: 'Laila', sans-serif;
    font-size: 2.95rem;
  }

}
.personasContainer{

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
  .persona{
    width: 18rem;
    min-width: 2rem;
    max-width: 18rem;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;
      span{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
      }
      .clarito{
        font-weight: 100;
      }
      .shadow{
        filter: drop-shadow(3px 2px 5.2px  rgba(50, 50, 0, 0.5));
      }
      .imgContenedor{
        background-color: white;
        box-shadow: 10px 10px 10px 10px black;
        
        // max-width: 14rem;
        min-width: 10rem;
        width: 12rem;
        // height: 19rem;
        clip-path: circle(38.2% at 49.8% 50%);
        img{
          
          width: 100%;
          clip-path: circle(37.4% at 49.8% 50%);
        }
      }

  }
}
@media (max-width: 965px) {
  section {
    height: auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  section {
    height: auto;
    text-align: center;
  }
  .personasContainer{
    flex-direction: column;
    align-items: center;
    .persona{
      // height: 20rem;
    }
  }
}
