$color-titulo:   #c8a476;
section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  h2{
    color: $color-titulo;
    text-align: center;
    font-family: 'Parisienne', sans-serif;
    font-size: 2.95rem;
  }
}
