<section >
  <h2>Dónde & Cuándo</h2>
  <div class="cardsConteiner" #cardsContainer>
    <div class="cards">
      <span class="remark-titulo">MI FIESTA</span>
      <!--<img src="assets/misa.png">-->
      <span class="remark">SERÁ EN MI CASA, QUE ESTÁ LLENA DE RISAS, AMOR Y DIVERSIÓN</span>
      <p><span class="remark">CUANDO:</span> 21 de mayo</p>
      <p><span class="remark">HORA:</span> 15:00 hrs.</p>
      <p><span class="remark">DIRECCIÓN:</span> Corregidora, San Juan, 54668 Coyotepec, Méx.</p>
      <button class="botonMapa" (click) ="mostrarModal(1)"> Ver mapa</button>
      <app-modal (modal)="mostrarModal($event)" [valor]="opcion" *ngIf="opcion === 1"></app-modal>
    </div>
  </div>
</section>
