<section >
  <h2>Dónde & Cuándo</h2>
  <div class="cardsConteiner" #cardsContainer>
    <div class="cards">
      <span class="remark-titulo">CEREMONIA RELIGIOSA</span>
      <!--<img src="assets/misa.png">-->
      <span class="remark">NUESTRA SEÑORA DE LA MEDALLA MILAGROSA</span>
      <p><span class="remark">CUANDO:</span> 19 de noviembre</p>
      <p><span class="remark">HORA:</span> 19:00 hrs.</p>
      <p><span class="remark">DIRECCIÓN:</span> Libra 39, Col. Estrella, 55210 Ecatepec de Morelos, Méx.</p>
      <button class="botonMapa" (click) ="mostrarModal(1)"> Ver mapa</button>
      <app-modal (modal)="mostrarModal($event)" [valor]="opcion" *ngIf="opcion === 1"></app-modal>
    </div>

    <div class="cards" >
      <span class="remark-titulo">SALÓN DE FIESTA</span>
      <!--<img src="assets/salon.png">-->
      <span class="remark">SALÓN ARIES PREMIER</span>
      <p><span class="remark">CUANDO:</span> 19 de noviembre</p>
      <p><span class="remark">HORA:</span> 20:30 hrs.</p>
      <p><span class="remark">DIRECCIÓN:</span> C. Azucena #23, Esq. Azahares, Jardines del Tepeyac, 55220 Ecatepec de Morelos, Méx.</p>
      <button class="botonMapa" (click) ="mostrarModal(2)"> Ver mapa</button>
      <app-modal (modal)="mostrarModal($event)" [valor]="opcion" *ngIf="opcion === 2"></app-modal>
    </div>
  </div>
  <!--<h2 class="fotos">Fotos</h2>-->
</section>
