$color-titulo:   #437764;
section{
  width: 100%;
  padding: 6rem 0;
  gap: 4rem;
  text-align: center;
  height: auto;
  h2{
    color: $color-titulo;
    text-align: center;
    font-family: 'Parisienne', sans-serif;
    font-size: 2.95rem;
    padding-bottom: 2rem;
  }
}
.cardsConteiner{
  width: 100%;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .cards{
    background-color: #f2f5f7;
    height: 90%;
    min-height: 0rem;
    width: 70%;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    text-align: justify;
    .remark{
      font-weight: 550;
    }
    .remark-titulo{
      font-weight: bold;
      font-size: 20px;
    }
    span{
      font-size: 1rem;
      font-family: 'Poppins', sans-serif;
      text-align: center;
    }
    button{
      border-radius: .8rem;
      min-height: 2rem;
      cursor: pointer;
      color: white;
      border-color: transparent;
      background-color: #437764;
    }
    button:hover{
      background-color: rgb(141, 138, 138);
    }
  }
}
@keyframes moveInRigth {
  0%{
      opacity: 0;
      // transform: translateX(100px);
  }
  80%{
    opacity: .5;
      // transform: translateX(-10px);
  }
  100%{
      opacity: 1;
      // transform: translate(0);
  }
}

@media (max-width: 480px) {
  section {
    padding-top: 1rem;
    gap: 1rem;
    h2 {
      font-size: 2rem;
    }
    .cardsConteiner {
      .cards {
        width: 90%;
      }
    }
  }
}
