section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 3rem;
  gap: 4rem;
  h2{
    text-align: center;
    font-family: 'Laila', sans-serif;
    font-size: 2.95rem;
  }
}
.cardsConteiner{
  width: 100%;
  height: 90%;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  .cards{
    background-color: rgba(223, 217, 217, 0.45);
    padding: 1rem;
    gap: .7rem;
    height: 93%;
    width: 35%;
    display: flex;
    flex-direction: column;
    .remark{
      font-weight: 550;

    }
    span{
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif;
    }
    button{
      border-radius: .8rem;
      min-height: 2rem;
      cursor: pointer;
      color: white;
      border-color: transparent;
      background-color: rgba(173, 169, 169, 0.781);
    }
    button:hover{
      background-color: rgb(141, 138, 138);
    }
  }
}
@media (max-width: 768px) {
  section {
    height: auto;
    text-align: center;
  }
    .cardsConteiner {
    flex-direction: column;
      align-items: center;
      gap: 1rem;

      .cards{
      height: 90%;
      width: 70%;
      display: flex;
      flex-direction: column;
      text-align: justify;
      span{
        font-size: .8rem;
      }
      button{
        border-radius: .8rem;
        min-height: 2rem;
      }
    }
  }
}
