<section>
  <h2>Dónde & Cuándo</h2>
  <div class="cardsConteiner">
    <div class="cards">
      <span>Ceremonia Religiosa</span>
      <img src="assets/foto3.jpg">
      <span>PARROQUIA DE SAN FRANCISCO</span>
      <p><span class="remark">Cuando: </span> 21 de enero de 2023 18:30 hrs.</p>
      <p><span class="remark">Dirección: </span> Mariano Arista 200, San Francisco, 42000 Pachuca de Soto, Hgo.</p>
      <button> Ver mapa</button>
      <button> Agendar en calendario </button>
    </div>
    <div class="cards">
      <span>Ceremonia Religiosa</span>
      <img src="assets/foto3.jpg">
      <span>PARROQUIA DE SAN FRANCISCO</span>
      <p><span class="remark">Cuando: </span> 21 de enero de 2023 18:30 hrs.</p>
      <p><span class="remark">Dirección: </span> Mariano Arista 200, San Francisco, 42000 Pachuca de Soto, Hgo.</p>
      <button> Ver mapa</button>
      <button> Agendar en calendario </button>
    </div>
  </div>
</section>
