section{
  width: 100%;
  height: 110.5vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 3rem;
  gap: 4rem;
  h2{
    text-align: center;
    font-family: 'Laila', sans-serif;
    font-size: 2.95rem;
  }
}
.cardsConteiner{
  width: 100%;
  height: 90%;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  .cards{
    background-color: rgba(223, 217, 217, 0.45);
    padding: 1rem;
    gap: .7rem;
    height: 82%;
    min-height: 36rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    .remark{
      font-weight: 550;
      text-align: center;
    }
    span{
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif;
    }
    button{
      border-radius: .8rem;
      min-height: 2rem;
      cursor: pointer;
      color: white;
      border-color: transparent;
      background-color: rgba(173, 169, 169, 0.781);
    }
    button:hover{
      background-color: rgb(141, 138, 138);
    }
  }
}
@media (min-width: 768px) {
  section {
    height: auto;
    text-align: center;
  }
  .cardsConteiner {
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .cards{
      height: 90%;
      min-height: 28rem;
      width: 70%;
      display: flex;
      flex-direction: column;
      text-align: justify;
      span{
        font-size: .8rem;
      }
      button{
        border-radius: .8rem;
        min-height: 2rem;
      }
    }
  }
}

//Modal para iframe
$speed: 0.6s;
$delay: ($speed * .5);
$easing: cubic-bezier(.55,0,.1,1);

html, body
{
  height: 100%;
}

/**
 * Overlay
 * -- only show for tablet and up
 */

@media screen and (min-width: 768px){
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  }
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(#000, 0.6);
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transition: opacity $speed $easing, visibility $speed $easing;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  .mapa-pop {
    width: 100%;
  }
  .mapa-pop {
    width: 100%;
  }
} // media query



/**
 * Modal
 */
.modal {
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 20rem;
  max-height: 80vh;
  min-height: 10rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(#000, 0.1);
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all $speed $easing;

  .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity $speed $easing, transform $speed $easing;
    transition-delay: $delay;
  } // close modal

  .modal-content {
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity $speed $easing;
    transition-delay: $delay;
  } // content

  &.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);

    .modal-content {
      opacity: 1;
    }

    .close-modal {
      transform: translateY(10px);
      opacity: 1;
    }
  }
}



/**
 * Mobile styling
 */
@media only screen and (max-width: 39.9375em) {

  h1 {
    font-size: 1.5rem;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    transform: scale(1.1);
    padding: 0 !important;
  }

  .close-modal {
    right: 20px !important;
  }
} // media query



// OTROS ESTILOOOOOOOOOOOOOOOOSSSSSSSSSS
@media screen and (min-width: 768px){
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  }}
.modal-dialog {
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  background-clip: padding-box;
}
.modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close-modal {
  margin-top: -2px;
}
button.close-modal {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.close-modal {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}
.modal-title {
  margin: 0;
  line-height: 1.428571429;
}
.modal-body {
  position: relative;
  padding: 20px;
}
body {
  font-family: Montserrat;
  font-size: 16px;
  color: #101010;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .2px;
  line-height: 20px;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
