<div *ngIf="data">
  <!-- <div *ngIf="data"> -->
  <app-navbar (opcion)="opcion($event)" [alias]="data.alias"></app-navbar>

  <div #inicio><app-reloj-fondo [fecha]="data.fechaEvento"></app-reloj-fondo></div>
  <div #datos><app-datos [nombre]="data.nombreInvitado" [boletos]="data.numeroBoletos" [mesa]="data.mesa"></app-datos></div>
  <div #lugar><app-donde-cuando></app-donde-cuando></div>
  <!-- <app-desscode></app-desscode> -->
  <div #fotos><app-fotos></app-fotos></div>
  <div #personas><app-personas></app-personas></div>
  <div #asistencia><app-confirmar-asistencia [token]="token" (estadoAsistencia)="nuevoEstado($event)" [edoInvitacion]="data.idEstadoInvitacion"></app-confirmar-asistencia></div>
  <div #contacto><app-contacto></app-contacto></div>
  <div #fin><app-fotofin></app-fotofin></div>

<!--  <app-publicidad></app-publicidad>-->
</div>

