<div class="container">
  <h1> SCANNER </h1>

  <!-- ngx-scanner-qrcode -->
  <ngx-scanner-qrcode #action="scanner" (error)="onError($event)"></ngx-scanner-qrcode>

  <!-- data  -->
  <p class="data">{{ action.data | async }}</p>

  <!-- Loading -->
  <p *ngIf="action.isLoading">Loading...</p>

  <!-- toggleCamera -->
  <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" [disabled]="action.isLoading">
    <img *ngIf="!action.isStart" (click)="handle(action, 'start')" src="https://img.icons8.com/ios/50/000000/no-camera--v2.png" width="30px"/>
    <img *ngIf="action.isStart" (click)="handle(action, 'stop')" src="https://img.icons8.com/ios/50/000000/no-camera--v1.png" width="30px"/>
  </button>

  <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" [disabled]="action.isLoading" (click)="handle(action, 'start')">Start</button>

  <br>
</div>
