<div class="contenedor">
    <div><span (click)="cerrarModal()">Cerrar</span></div>
    <iframe *ngIf="valor === 1; else otro"
      class="mapa-pop"
      height="300"
      src="https://maps.google.com/maps?q=Iglesia%20de%20Nuestra%20Se%C3%B1ora%20de%20La%20Medalla%20Milagrosa%20La%20Estrella&t=&z=15&ie=UTF8&iwloc=&output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
     </iframe>

  <ng-template #otro>
    <iframe
      class="mapa-pop"
      height="300"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15042.398513409047!2d-99.0498886!3d19.5158538!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfeebdaadd3e674b7!2sSal%C3%B3n%20Aries%20Premier!5e0!3m2!1ses-419!2smx!4v1664928704151!5m2!1ses-419!2smx"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </ng-template>
</div>
