.contenedor{
    position: absolute;
    width: 90vw;
    right: calc((100% - 90%)/2);
    top:195%;
    display: flex;
    justify-content: center;
    padding: 1.8rem;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.509);
    div{
        // background-color: beige;
        display: flex;
        width: 100%;
        height: 3rem;
        justify-content: end;
        span{
            cursor: pointer;
            font-size: xx-large;
            color: whitesmoke;
        }
    }
}