nav {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 1rem 0rem 1rem;
  height: 10vh;
  align-items: center;
  h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  span{
    display: none;
  }
}
ul{
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  ul{
    display: none;
  }
  nav{
    span{
      display: block;
      cursor: pointer;
      font-size: xx-large;
      z-index: 21;
      color: rgb(88, 78, 78);
    }
  }
  .menu{
    top: 0;
    position: fixed;
    left: 0;
    width: 100vw;
    background-image: url("../../../../../assets/fondo.jpg");
    height: 100vh;
    clip-path: circle(150% at 100% 100%) ;
    transition: clip-path 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: clip-path 1s;
    z-index: 20;
    span{
      //text-decoration: underline;
      color: #1B264F;
      text-shadow: 2px 2px #ffffff;
    }
  }
  .menu2{
    top: 0;
    position: fixed;
    left: 0;
    width: 100vw;
    background-image: url("../../../../../assets/fondo.jpg");
    height: 100vh;
    clip-path: circle(0% at 100% 100%) ;
    transition: clip-path 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: clip-path 1s;
    z-index: 20;
  }

  // MAza need your help
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #1B264F;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1B264F;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

}
