<nav>
  <div>
    <h1>NombreChido</h1>

  </div>

  <ul>
    <li> Inicio </li>
    <li> Datos </li>
    <li> Lugar </li>
    <li> Fotos </li>
    <li> Personas </li>
    <li> Asistencia </li>
    <li> Contacto </li>
  </ul>
  <span (click)="menu()">&#9776;</span>
  <div [ngClass]="mostrarMenu ? 'menu' : 'menu2'" >
    <span> Inicio </span>
    <span> Datos </span>
    <span> Lugar </span>
    <span> Fotos </span>
    <span> Personas </span>
    <span> Asistencia </span>
    <span> Contacto </span>
  </div>
</nav>
