<!-- <section>
Amigos no se si debia ir con el section o sin el, ya nmo pude ver eso :C
</section> -->

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <h6>¿Te gustaria una invitación para tu evento?</h6>
          <p class="text-justify"> <i>SERVICIOS DIGITALES </i> consultora de software, nos encargamos de administrar los invitados para tu evento, ademas de diseñar una invitación digital.</p>
        </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
<!--       <a href="#">digitalservicemaz</a>.-->
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <!-- <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li> -->
            <li><a class="whatsapp" href="https://wa.me/5633425525"><i class="fa fa-whatsapp"></i></a></li>
            <!-- <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li> -->

          </ul>
        </div>
      </div>
    </div>
</footer>
